/* //////////////////start navbar/////////////// */

@media screen and (max-width:767px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-collapse .nav-item .active::after {
        width: 10%;
        left: 44%;
    }

}

/* //////////////////end navbar/////////////// */
/* ////////////////////about//////////// */
@media screen and (max-width:1225px) {
    .dots {
        left: 40%;
        width: 250px;
    }
}

@media screen and (max-width:997px) {
    .dots {
        left: 40%;
        width: 200px;
    }
}

@media screen and (max-width:779px) {
    .dots {
        left: 35%;
        width: 170px;
    }
}

/* /////////////////////////////// */
@media screen and (max-width:1270px) {
    .dot1 {
        height: 285px;
        width: 250px;
    }
}

@media screen and (max-width:1225px) {
    .dot1 {
        height: 240px;
        width: 300px;
    }
}

@media screen and (max-width:991px) {
    .dot1 {
        top: 20%;
        width: 500px;
        height: 620px;
    }
}

@media screen and (max-width:771px) {
    .dot1 {
        top: 40%;
        width: 380px;
        height: 360px;
    }
}

@media screen and (max-width:555px) {
    .dot1 {
        top: 40%;
        width: 280px;
        height: 320px;
    }
}

@media screen and (max-width:470px) {
    .dot1 {
        top: 40%;
        width: 200px;
        height: 250px;
    }
}

@media screen and (max-width:360px) {
    .dot1 {
        top: 40%;
        width: 200px;
        height: 200px;
    }
}

/* //////////////////end about//////////// */